.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background: rgba(111, 93, 191, 1);
}

.header img {
  width: 20%;
}

.header h1 {
  color: white;
}

.input {
  height: 30vh;
  display: flex;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(111, 93, 191, 1) 53%);
  justify-content: space-around;
  align-items: center;
}

.button {
  display: flex;
  justify-content: space-around;
}

.button button {
  width: 40vw;
  margin: 10px 0;
  padding: 10px;
}

.input input {
  display: block;
  text-align: center;
  width: 90vw;
  padding: 10px;
}